<div class="container">
    <div class="row">
        <form method="post" ng-submit="updateProduct()" name="editProductForm">
            <!-- Title -->
            <div class="form-group has-feedback">
                <input class="form-control input-lg" type="text" id="title" name="title" ng-model="product.title" placeholder="Title" ng-maxlength="255" required>
            </div>
            <div ng-messages="editProductForm.title.$error" class="help-block">
                <div ng-message="maxlength" class="text-danger">Message must not exceed 255 characters</div>
            </div>
            <!-- Price -->
            <div class="form-group has-feedback">
                <input class="form-control input-lg" type="number" id="price" name="price" ng-model="product.price" placeholder="Price" ng-maxlength="255" required>
            </div>
            <div ng-messages="editProductForm.price.$error" class="help-block">
                <div ng-message="maxlength" class="text-danger">Message must not exceed 255 characters</div>
            </div>
            <!-- description -->
            <div class="form-group has-feedback">
                <textarea class="form-control input-lg" id="description" name="description" ng-model="product.description" ng-maxlength="1000" required></textarea>
            </div>
            <div ng-messages="editProductForm.descriptioniption.$error" class="help-block">
                <div ng-message="maxlength" class="text-danger">Message must not exceed 255 characters</div>
            </div>
            <button type="submit" ng-disabled="editProductForm.$invalid" class="btn btn-lg btn-block btn-success">Save product</button>
        </form>
    </div>
</div>
