<div class="container">
    <div class="row">
        <form method="post" ng-submit="addProduct()" name="addProductForm">
            <!-- Title -->
            <div class="form-group has-feedback">
                <input class="form-control input-lg" type="text" id="title" name="title" ng-model="product.title" placeholder="Title" ng-maxlength="255" required>
            </div>
            <div ng-messages="addProductForm.title.$error" class="help-block">
                <div ng-message="maxlength" class="text-danger">Message must not exceed 255 characters</div>
            </div>
            <!-- Price -->
            <div class="form-group has-feedback">
                <input class="form-control input-lg" type="text" id="price" name="price" ng-model="product.price" placeholder="Price" ng-maxlength="255" ng-pattern="patternPrice" required>
            </div>
            <div ng-messages="addProductForm.price.$error" class="help-block">
                <div ng-message="maxlength" class="text-danger">Price must not exceed 255 characters</div>
                <div ng-message="pattern" class="text-danger">Enter price in format "123" or "123.23"</div>
            </div>
            <!-- descriptioniption -->
            <div class="form-group has-feedback">
                <textarea class="form-control input-lg" id="description" name="description" ng-model="product.description" ng-maxlength="1000" required></textarea>
            </div>
            <div ng-messages="addProductForm.descriptioniption.$error" class="help-block">
                <div ng-message="maxlength" class="text-danger">Description must not exceed 1000 characters</div>
            </div>
            <button type="submit" ng-disabled="addProductForm.$invalid" class="btn btn-lg btn-block btn-primary">Add product</button>
        </form>
    </div>
</div>
