<div class="container">
    <div class="row">
        <table class="table table-hover responsive" wt-responsive-table>
            <thead>
                <tr>
                    <th class="cursor-pointer">№ </th>
                    <th default-sorting="product.title" table-sorting="product.title" class="cursor-pointer">Title
                        <arrow-sorting ng-if="predicate === 'product.title'"></arrow-sorting>
                    </th>
                    <th table-sorting="product.price" class="cursor-pointer">Price
                        <arrow-sorting ng-if="predicate === 'product.price'"></arrow-sorting>
                    </th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="product in products | orderBy:predicate:reverseSort track by $index" class="row-item">
                    <td>{{ $index+1 }}</td>
                    <td>{{ product.title }}</td>
                    <td>{{ product.price }}</td>
                    <td class="text-center">
                        <a href="/product/edit/{{product.id}}" class="btn btn-primary">Edit product</a>
                    </td>
                    <td>
                        <uib-accordion>
                            <div uib-accordion-group class="panel-default" heading="Description">
                                {{product.description}}
                            </div>
                        </uib-accordion>
                    </td>
                </tr>
            </tbody>
        </table>
        <a href="product/add" class="btn btn-primary btn-lg">Add product</a>
    </div>
</div>
