<!DOCTYPE html>
<html ng-app="app">

<head>
    <title>Website</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <base href="/">
    <script src="./build/js/angular.js"></script>
    <script src="./build/js/angular-route.js"></script>
    <script src="./build/js/ui-bootstrap.js"></script>
    <script src="./build/js/ui-bootstrap-tpls.js"></script>
    <script src="./build/js/satellizer.js"></script>
    <script src="./build/js/angular-animate.js"></script>
    <script src="./build/js/angular-sanitize.js"></script>
    <script src="./build/js/angular-messages.js"></script>
    <script src="./build/js/angular-toastr.tpls.js"></script>
    <script src="./build/js/angular-responsive-tables.js"></script>
</head>

<body>
    <header>
        <div class="container">
            <div class="row">
                <nav ng-controller="app.navbarController">
                    <div class="container-fluid">
                        <ul class="navigation">
                            <li class="navigation__item"><a class="" href="/">Main</a></li>
                            <li class="navigation__item" ng-cloak ng-if="!isAuthenticated()"><a href="register">Register</a></li>
                            <li class="navigation__item" ng-cloak ng-if="!isAuthenticated()"><a href="login" >Login</a></li>
                            <li class="navigation__item" ng-cloak ng-if="isAuthenticated()"><a href="profile">Profile</a></li>
                            <li class="navigation__item" ng-cloak ng-if="isAuthenticated()"><a href="logout" >Logout</a></li>
                        </ul>
                    </div>
                    <!-- /.container-fluid -->
                </nav>
            </div>
        </div>
    </header>
    <main class="main">
        <div ng-view></div>
    </main>
    <footer></footer>
    <link rel="stylesheet" href="./build/css/main.css">
    <link rel="stylesheet" href="./build/css/angular-toastr.min.css">
    <link rel="stylesheet" href="./build/css/angular-responsive-tables.min.css">
    <script type="text/javascript" src="./app/app.js"></script>
    <!-- Core -->
    <script type="text/javascript" src="./app/config/config.js"></script>
    <script type="text/javascript" src="./app/core/api/ApiService.js"></script>
    <script type="text/javascript" src="./app/core/auth/logout/LogoutController.js"></script>
    <script type="text/javascript" src="./app/core/auth/navbar/navbarController.js"></script>
    <!-- Directives -->
    <script type="text/javascript" src="./app/core/directives/arrow-sorting.js"></script>
    <script type="text/javascript" src="./app/core/directives/default-sorting.js"></script>
    <script type="text/javascript" src="./app/core/directives/table-sorting.js"></script>
    <!-- Profile -->
    <script type="text/javascript" src="./app/features/profile/ProfileModule.js"></script>
    <script type="text/javascript" src="./app/features/profile/ProfileController.js"></script>
    <script type="text/javascript" src="./app/features/profile/ProfileService.js"></script>
    <!-- Register -->
    <script type="text/javascript" src="./app/features/register/RegisterModule.js"></script>
    <script type="text/javascript" src="./app/features/register/RegisterController.js"></script>
    <script type="text/javascript" src="./app/features/register/RegisterService.js"></script>
    <!-- Login -->
    <script type="text/javascript" src="./app/features/login/LoginModule.js"></script>
    <script type="text/javascript" src="./app/features/login/LoginController.js"></script>
    <script type="text/javascript" src="./app/features/login/LoginService.js"></script>
    <!-- Product -->
    <script type="text/javascript" src="./app/features/product/ProductModule.js"></script>
    <script type="text/javascript" src="./app/features/product/ProductController.js"></script>
    <script type="text/javascript" src="./app/features/product/EditProductController.js"></script>
    <script type="text/javascript" src="./app/features/product/ProductService.js"></script>
</body>

</html>
