.form {
    .form-group {
        position: relative;
        .input-helper {
            position: absolute;
            right: 15px;
            top: 10px;
            font-size: 13px;
        }
    }
}
