a:hover,
a:focus,
a:active {
    text-decoration: none;
}

body,
html {
    height: 100%;
}

ul {
    padding: 0;
    list-style: none;
}
.container {
	width: 100%;
	max-width: 1140px;
	margin: 0 auto;
}