$navigation-min-height: 90px;
$navigation-bg: #337ab7;
$navigation-font-size: 19px;
$navigation-font-size-sm: 16px;
$navigation-font-family: 'BrandonGrotesque-Regular';

$transition: all ease-out 0.4s;